*{
    padding: 0;
    margin-left: 0;
  }
  
  /* To declare specific fonts */
  @font-face{
    font-family: 'Masiva Bold'
    src:url(fonts/MasivaBold-Bold.ttf);
    font-style:Bold;
    font-weight: 100;
  }
  
  @font-face{
    font-family: 'Autograph'
    src:url(fonts/Autography.otf);
    font-style:Regular;
    font-weight: 100;
  }
  /* end */
  
  body, html {
    background-image:linear-gradient(rgba(0,0,0,0.09),rgba(0,0,0,0.09)), url(../images/Plain.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
  }
  
.card {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.9);
    max-width: 320px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: slategrey;
    font-size: 15px;
    text-align: justify;
    padding: 2vh;
  }  

  p a {
    background-image: url(../images/purple.jpg);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:absolute;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    color: snow;
    padding: 10px 10px;
    font-family: Masiva bold;
  }
  
 p  a:hover{
    background-image: url(../images/blue.jpg);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    color: snow;
    text-decoration: none;
  }