*{
    padding: 0;
    margin-left: 0;
  }
  
  /* To declare specific fonts */
  @font-face{
    font-family: 'Masiva Bold'
    src:url(fonts/MasivaBold-Bold.ttf);
    font-style:Bold;
    font-weight: 100;
  }
  
  @font-face{
    font-family: 'Autograph'
    src:url(fonts/Autography.otf);
    font-style:Regular;
    font-weight: 100;
  }
  /* end */
  
  body, html {
    background-image:linear-gradient(rgba(0,0,0,0.09),rgba(0,0,0,0.09)), url(../images/Plain.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
  }
  
.card {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.9);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }