*{
  padding: 0;
  margin-left: 0;
}

@font-face{
  font-family: 'Masiva Bold'
  src:url(fonts/MasivaBold-Bold.ttf);
  font-style:Bold;
  font-weight: 100;
}

@font-face{
  font-family: 'Autograph'
  src:url(fonts/Autography.otf);
  font-style:Regular;
  font-weight: 100;
}

body, html {
    height: 100%;
}

.section{
  background-image:linear-gradient(rgba(0,0,0,0.09),rgba(0,0,0,0.09)), url(../images/Plain1.png);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

.navbar-brand{
  margin-left: 12vh;
  margin-top: 2vh;
}

.dropbtn {
  color: silver;
  padding: 16px;
  font-size: 16px;
  border-radius:25px;
  cursor: pointer;
  margin: 2vh;
  margin-right: 5vh;
}

.dropbtn:hover, .dropbtn:focus {
  background-image: url(../images/purple.jpg);
  background-size: cover;
  background-position: center;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  text-align: center;
}

.dropdown a:hover {
  background-color: #ddd;
  text-decoration: none;
}
.show {display: block;}

.edits img{
  position:fixed;
}

.edits .Mascot img{
  margin-top: 7vh;
  margin-left: 7vh;
  height: 80vh;
  width: 110vh;
  display:20s ease-in;
}

.edits .Ola img{
  margin-top: 6.5vh;
  margin-left: 5vh;
  height: 35vh;
  width: 65vh;
  display:20s ease-in;
}

span{
  font-size:5vh;
  color: snow;
  font-family: Autography;
}

@media screen and (max-width:900px) {
  .section{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)), url(../images/bot6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment:fixed;
    display: table;
    height: 100%;
    width: 100%;
  }

  .edits .Mascot img{
    display:none;
  }

  span{
    font-size:5vh;
    color: snow;
    font-family:Masiva Bold;
  }
}

.Ola p{
  font-family: Masiva Bold;
  font-size: 4vh;
  color: snow;
  margin-top: 40vh;
  margin-left: 15vh;
}

.icons .fa{
    cursor: pointer;
    color: rgb(43, 40, 40);
}
